.lista-citas {
  display: flex;
  flex-direction: column;
}

.lista-citas-vacia {
  background-color: white;
  color: #c10059;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
  border-radius: 1rem;
}